<h3 align=center>List to Set </h3>

Cast the following list to a set:

In [2]:
F=['A','B','C','A','B','C']
G=set(F)
G

{'A', 'B', 'C'}

<h3 align=center>Add an Element to the Set</h3>

Add the string  <code>'D'</code> to the set S

In [7]:
S={'A','B','C'}
S.add("Raam")
S

S.add("D")
S

{'A', 'B', 'C', 'D', 'Raam'}

In [10]:
S={"A Raju","A Shyam","Babu Bhayya","Maa Kasam"}
S
S.remove("Maa Kasam")
S

{'A Raju', 'A Shyam', 'Babu Bhayya'}

<h3 align=center>Intersection</h3>

Find the intersection of set <code>A</code> and <code>B</code>

In [12]:
A={1,2,3,4,5}
B={1,3,9, 12}
C=A&B
C

C=A.union(B)
C

{1, 2, 3, 4, 5, 9, 12}

<hr>
<small>Copyright &copy; 2018 IBM Cognitive Class. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/).</small>

In [13]:
A={"A Raju","A Shyam","Babu Bhayya"}
"A Raju" in A

True

In [14]:
"Babu Bhayya" in A

True

In [15]:
"A Shyam" in A

True

In [16]:
"Kon?" in A

False

In [18]:
A={"Hum","Tum","Ek","Anek","Kyun"}
B={"Ronak","Tum","Hum","Kyun","Time"}

#Intersection Set
C=A&B
C

{'Hum', 'Kyun', 'Tum'}

In [20]:
#Union of Set
D=A.union(B)
D

{'Anek', 'Ek', 'Hum', 'Kyun', 'Ronak', 'Time', 'Tum'}

In [25]:
print("The All Elelments in D are=",D)
print("The ALL Elements in C are=",C)

The All Elelments in D are= {'Tum', 'Hum', 'Kyun', 'Anek', 'Ek', 'Ronak', 'Time'}
The ALL Elements in C are= {'Hum', 'Tum', 'Kyun'}

In [ ]:
E={"Time","Ronak"}